# Practical Lab: Week 3

Note: This practical session is based on the exercises in section 2.4 (Applied) of the module's book.

## Part I: The college dataset

1. Import `Pandas`
2. From the Moodle page (week 3, lab) get the `College.csv` CSV file and put it in the same folder where you saved your Jupyter notebook
3. Read the CSV file as a variable called `college`
4. Inspect the contents of the dataframe by using the `head()` method from `Pandas`

In [1]:
import pandas as pd

6. Is this a _rectangular_ data structure? If so, What entities are represented in the rows?

In [2]:
college = pd.read_csv('College.csv')

The column variables refer to the following information:

- **Private** : Public/private indicator
- **Apps** : Number of applications received
- **Accept** : Number of applicants accepted
- **Enroll** : Number of new students enrolled
- **Top10perc** : New students from top 10 % of high school class
- **Top25perc** : New students from top 25 % of high school class
- **F.Undergrad** : Number of full-time undergraduates
- **P.Undergrad** : Number of part-time undergraduates
- **Outstate** : Out-of-state tuition
- **Room.Board** : Room and board costs
- **Books** : Estimated book costs
- **Personal** : Estimated personal spending
- **PhD** : Percent of faculty with Ph.D.s
- **bold text**Terminal : Percent of faculty with terminal degree
- **S.F.Ratio** : Student/faculty ratio
- **perc.alumni** : Percent of alumni who donate
- **Expend** : Instructional expenditure per student
- **Grad.Rate** : Graduation rate

7. Use the `describe()` method on the `college` dataframe. Spend some time trying to figure out what information is provided. check the documentation [here.](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)

In [3]:
college.describe()

,Apps,Accept,Enroll,Top10perc,Top25perc,F.Undergrad,P.Undergrad,Outstate,Room.Board,Books,Personal,PhD,Terminal,S.F.Ratio,perc.alumni,Expend,Grad.Rate
count,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.000000,777.00000
mean,3001.638353,2018.804376,779.972973,27.558559,55.796654,3699.907336,855.298584,10440.669241,4357.526384,549.380952,1340.642214,72.660232,79.702703,14.089704,22.743887,9660.171171,65.46332
std,3870.201484,2451.113971,929.176190,17.640364,19.804778,4850.420531,1522.431887,4023.016484,1096.696416,165.105360,677.071454,16.328155,14.722359,3.958349,12.391801,5221.768440,17.17771
min,81.000000,72.000000,35.000000,1.000000,9.000000,139.000000,1.000000,2340.000000,1780.000000,96.000000,250.000000,8.000000,24.000000,2.500000,0.000000,3186.000000,10.00000
25%,776.000000,604.000000,242.000000,15.000000,41.000000,992.000000,95.000000,7320.000000,3597.000000,470.000000,850.000000,62.000000,71.000000,11.500000,13.000000,6751.000000,53.00000
50%,1558.000000,1110.000000,434.000000,23.000000,54.000000,1707.000000,353.000000,9990.000000,4200.000000,500.000000,1200.000000,75.000000,82.000000,13.600000,21.000000,8377.000000,65.00000
75%,3624.000000,2424.000000,902.000000,35.000000,69.000000,4005.000000,967.000000,12925.000000,5050.000000,600.000000,1700.000000,85.000000,92.000000,16.500000,31.000000,10830.000000,78.00000
max,48094.000000,26330.000000,6392.000000,96.000000,100.000000,31643.000000,21836.000000,21700.000000,8124.000000,2340.000000,6800.000000,103.000000,100.000000,39.800000,64.000000,56233.000000,118.00000

8. Notice we have the `college` dataframe indexed by column index, and the column with the university names has no name itself, we want to index by the universities. Play with the `Pandas` methods `rename` and `set_index` so that you (a) get rid of the numerical index, (b) make the universities column become the new index, and call that column `College`

9. Use the `pd.plotting.scatter_matrix()` function to produce a scatterplot matrix of the first columns `[Top10perc, Apps, Enroll]`.

For this, you need to slide your dataframe on the three columns. Recall that you can reference a list C of columns of a data frame `A`  using  `A[C]` .

10. Use the `boxplot()` method of college to produce side-by-side boxplots of `Outstate` versus `Private`.

11. Create a new qualitative variable, called `Elite`, by *binning* the `Top10perc` variable into two groups based on whether or not the proportion of students coming from the top 10% of their high school classes exceeds 50%.

Use the `value_counts()` method of college`['Elite']` to see how many elite universities there are. Finally, use the `boxplot()` method again to produce side-by-side boxplots of `Outstate` versus `Elite`.

12. Use the `plot.hist()` method of `college` to produce some histograms with differing numbers of bins for a few of the quantitative variables. The command `plt.subplots(2, 2)` may be useful: it will divide the plot window into four regions so that four plots can be made simultaneously. By changing the arguments you can divide the screen up in other combinations.

13. Continue exploring the data, and provide a brief summary of what you discover.

## Part II: The Auto dataset

1. Import `Pandas`
2. From the Moodle page (week 3, lab) get the `Auto.csv` CSV file and put it in the same folder where you saved your Jupyter notebook
3. Read the CSV file as a variable called `Auto`
4. Inspect the contents of the dataframe by using the `head()` method from `Pandas`

In [12]:
import pandas as pd
Auto = pd.read_csv('Auto.csv')
Auto.head()
#Auto.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

5. Which of the predictors are quantitative, and which are qualitative?

6. What is the range of each quantitative predictor? You can answer this using the `min()` and `max()` methods in numpy.

8. What is the mean and standard deviation of each quantitative predictor?

9. Now remove the 10th through 85th observations. What is the range, mean, and standard deviation of each predictor in the subset of the data that remains?

10. Using the full data set, investigate the predictors graphically, using scatterplots or other tools of your choice. Create some plots highlighting the relationships among the predictors. Comment on your findings.

11. Suppose that we wish to predict gas mileage (mpg) on the basis of the other variables. Do your plots suggest that any of the other variables might be useful in predicting mpg? Justify your answer.

## Part III: The Boston dataset

1. Import `Pandas`
2. From ISLP library get Boston dataset. (Info [link text](https://islp.readthedocs.io/en/latest/datasets/Boston.html))
4. Inspect the contents of the dataframe by using the `head()` method from `Pandas`

In [3]:
!pip install --force-reinstall -v "numpy==1.22"

In [4]:
!pip install ISLP

In [33]:
from ISLP import load_data

Boston = load_data('Boston')
Boston.columns

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'lstat', 'medv'],
      dtype='object')

In [2]:
Boston.head()

1. How many rows are in this data set? How many columns? What do the rows and columns represent?

In [ ]:
Boston.shape

4. Make some pairwise scatterplots of the predictors (columns) in this data set. Describe your findings.

5. Are any of the predictors associated with per capita crime rate? If so, explain the relationship.

6. Do any of the suburbs of Boston appear to have particularly high crime rates? Tax rates? Pupil-teacher ratios? Comment on the range of each predictor.

7. How many of the suburbs in this data set bound the Charles river?

8. What is the median pupil-teacher ratio among the towns in this data set?

9. Which suburb of Boston has lowest median value of owner- occupied homes? What are the values of the other predictors for that suburb, and how do those values compare to the overall ranges for those predictors? Comment on your findings.

10. In this data set, how many of the suburbs average more than seven rooms per dwelling? More than eight rooms per dwelling? Comment on the suburbs that average more than eight rooms per dwelling.